@{
    ViewData["Title"] = "Home Page";
    Layout = "_LayoutDashboard";
}

<h1>Dashboad nih</h1>

<div style="align-items:center" class="text-center">
    <a class="btn btn-success" href="Account/Login">Login</a>
    <a class="btn btn-info" href="Account/Register">Register</a>
</div>