@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Employee";
    Layout = "_LayoutDashboard";
}

<h2 class="mb-3">Data Employee</h2>
<div style=" float: right">
    <button type="button" class="btn mb-3" onclick="showChart()"><i class="fas fa-fw fa-chart-area"></i>Chart</button>
    <button type="button" class="btn mb-3 mr-3" data-bs-toggle="modal" data-bs-target="#modalCreate" ><i class="fas fa-fw fa-plus"></i>Create</button>
</div>
<table class="table table-striped table-hover" id="myTableEmployee">
    <thead class="table-primary">
        <tr>
            <th>No</th>
            <th>Nik</th>
            <th>Full Name</th>
            <th>Birth Date</th>
            <th>Gender</th>
            <th>Hiring Date</th>
            <th>Email</th>
            <th>Phone Number</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody id="tbodyEmployee"></tbody>
</table>

<!-- Modal Create -->
<div class="modal fade" id="modalCreate" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Create Data</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="row mb-2">
                        <div class="col">
                            <label for="firstName" class="form-label">First Name</label>
                            <input type="text" class="form-control" id="firstName" aria-describedby="emailHelp">
                        </div>
                        <div class="col">
                            <label for="lastName" class="form-label">Last Name</label>
                            <input type="text" class="form-control" id="lastName">
                        </div>
                    </div>
                    <div class="mb-2">
                        <label for="birthDate" class="form-label">Birth Date</label>
                        <input type="date" class="form-control" id="birthDate">
                    </div>
                    <div class="mb-2">
                        <label for="email" class="form-label">Email</label>
                        <input type="email" class="form-control" id="email" placeholder="user@example.com">
                    </div>
                    <div class="row mb-2">
                        <div class="col-8">
                            <label for="phone" class="form-label">Phone Number</label>
                            <input type="tel" class="form-control" id="phoneNumber">
                        </div>
                        <div class="col-4">
                            <label for="gender" class="form-label">Gender</label>
                            <select class="form-select" aria-label="Disabled select example" id="gender">
                                <option value="Female" name="Female" id="Female">Female</option>
                                <option value="Male" name="Male" id="Male">Male</option>
                            </select>
                        </div>
                    </div>
                    <div class="mb-2">
                        <label for="hiringDate" class="form-label">Hiring Date</label>
                        <input type="date" class="form-control" id="hiringDate">
                    </div>
                </form>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary" onclick="Insert()">Submit</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal Update -->
<div class="modal fade" id="modalUpdate" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Update Data</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <input type="hidden" value="" id="UGuid"/>
                    <input type="hidden" value="" id="UNik" />
                    <div class="row mb-2">
                        <div class="col">
                            
                            <label for="firstName" class="form-label">First Name</label>
                            <input type="text" class="form-control" id="UpdatefirstName" aria-describedby="emailHelp">
                        </div>
                        <div class="col">
                            <label for="lastName" class="form-label">Last Name</label>
                            <input type="text" class="form-control" id="UpdatelastName">
                        </div>
                    </div>
                    <div class="mb-2">
                        <label for="birthDate" class="form-label">Birth Date</label>
                        <input type="date" class="form-control" id="UpdatebirthDate">
                    </div>
                    <div class="mb-2">
                        <label for="email" class="form-label">Email</label>
                        <input type="email" class="form-control" id="Updateemail" placeholder="user@example.com">
                    </div>
                    <div class="row mb-2">
                        <div class="col-8">
                            <label for="phone" class="form-label">Phone Number</label>
                            <input type="tel" class="form-control" id="UpdatephoneNumber">
                        </div>
                        <div class="col-4">
                            <label for="gender" class="form-label">Gender</label>
                            <select class="form-select" id="UpdateGender">
                                <option value="Female" name="Female" id="Female">Female</option>
                                <option value="Male" name="Male" id="Male">Male</option>
                            </select>
                        </div>
                    </div>
                    <div class="mb-2">
                        <label for="hiringDate" class="form-label">Hiring Date</label>
                        <input type="date" class="form-control" id="UpdatehiringDate">
                    </div>
                </form>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary" onclick="UpdateEmployee()">Update</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal Chart -->
<div class="modal fade" id="modalChart" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Chart</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-8 border-1 mx-auto">
                            <canvas id="genderChart"></canvas>
                        </div>
                    <div/>
                    <div class="row mt-2">
                        <div class="col-8 border-1 mx-auto">
                            <canvas id="universityChart"></canvas>
                        </div>
                    </div>            
                </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>