@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Employee";
    Layout = "_LayoutDashboard";
}

<h2 class="mb-4">Data Employee</h2>
<table class="table table-striped table-hover" id="myTableEmployee">
    <thead class="table-primary">
        <tr>
            <th>No</th>
            <th>Nik</th>
            <th>Full Name</th>
            <th>Birth Date</th>
            <th>Gender</th>
            <th>Hiring Date</th>
            <th>Email</th>
            <th>Phone Number</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody id="tbodyPokemon"></tbody>
</table>

<!-- Modal -->
<div class="modal" tabindex="-1" id="modalPokemon">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalTitle"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" style="background-color: antiquewhite;">
                <div class="row d-flex align-items-stretch">
                    <div class="col-md-6 d-flex flex-column flex-grow-1">
                        <div class="card mb-3 flex-grow-1" style="width: 350px; height: 400px; border-radius: 10px;">
                            <ul class="nav nav-tabs mb-3" id="myTab" role="tablist">
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link active flex-fill" id="profile-tab" data-bs-toggle="tab" data-bs-target="#tab-profile" type="button" role="tab" aria-controls="tab-home" aria-selected="true">Profile</button>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link flex-fill" id="status-tab" data-bs-toggle="tab" data-bs-target="#tab-status" type="button" role="tab" aria-controls="tab-profile" aria-selected="false">Stats</button>
                                </li>
                            </ul>

                            <!-- Profile -->
                            <div class="tab-content" id="myTabContent" style="height: 350px ;">
                                <div class="tab-pane fade show active" id="tab-profile" role="tabpanel" aria-labelledby="profile-tab">
                                    <div class="card-body ">
                                        <p class="card-text">Height : <span id="pokemonHeight"></span></p>
                                        <p class="card-text">Weight : <span id="pokemonWeight"></span></p>
                                        <p class="card-text mb-5">Base Experience : <span id="pokemonBaseExperience"></span></p>
                                        <div class="row justify-content-center text-center">
                                            <div class="col-8 mb-2" style="background-color: #d1cefc; border-radius: 10px;">
                                                <span class="justify-content-center">Abilities</span>
                                            </div>
                                            <div id="pokemonAbilities" class="mr-2"></div>
                                        </div>
                                    </div>
                                </div>

                                <!-- Stats -->
                                <div class="tab-pane fade justify-content-center" id="tab-status" role="tabpanel" aria-labelledby="status-tab">

                                    <div class="row justify-content-center">
                                        <div class="col-8 mb-4">
                                            <div id="pokemonStats"></div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Image -->
                    <div class="col-md-6 d-flex flex-column flex-grow-1">
                        <div class="row justify-content-center">
                            <div class="card align-items-center justify-content-center text-center mt-2 border-0" style="width: 300px; height: 350px; background-color: #cfccfe; border-radius: 10px; box-shadow: 4px 4px 5px rgba(0,0,0,0.3);">
                                <img id="pokemonImage" src="" alt="Pokemon Image" class="modal-image" width="200" height="200">
                                <span class="mt-4" style="background-color: #fff; border-radius: 10px; width: 200px;" id="pokemonName"></span>
                                <div id="pokemonTypes" class="mr-2 mt-2"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Button Close -->
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
