@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Employee";
    Layout = "_LayoutDashboard";
}

<h2 class="mb-3">Data Employee</h2>
<button type="button" class="btn btn-primary mb-2" data-bs-toggle="modal" data-bs-target="#modalCreate" style="float: right">Create</button>
<table class="table table-striped table-hover" id="myTableEmployee">
    <thead class="table-primary">
        <tr>
            <th>No</th>
            <th>Nik</th>
            <th>Full Name</th>
            <th>Birth Date</th>
            <th>Gender</th>
            <th>Hiring Date</th>
            <th>Email</th>
            <th>Phone Number</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody id="tbodyPokemon"></tbody>
</table>

<!-- Modal -->
<div class="modal fade" id="modalCreate" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Create Data</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="mb-2">
                        <label for="firstName" class="form-label">First Name</label>
                        <input type="text" class="form-control" id="firstName" aria-describedby="emailHelp">
                    </div>
                    <div class="mb-2">
                        <label for="lastName" class="form-label">Last Name</label>
                        <input type="text" class="form-control" id="lastName">
                    </div>
                    <div class="mb-2">
                        <label for="birthDate" class="form-label">Birth Date</label>
                        <input type="date" class="form-control" id="birthDate">
                    </div>
                    <div class="mb-2">
                        <label for="gender" class="form-label" id="gender">Gender</label>
                        <div>
                            <div class="form-check form-check-inline">
                                <label class="form-check-label form-label" for="female">
                                    <input class="form-check-input" type="radio" name="gender" value="Female" id="Female">
                                    Female
                                </label>
                            </div>
                            <div class="form-check form-check-inline">
                                <label class="form-check-label form-label" for="male">
                                    <input class="form-check-input" type="radio" name="gender" value="Male" id="Male">
                                    Male
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="mb-2">
                        <label for="hiringDate" class="form-label">Hiring Date</label>
                        <input type="date" class="form-control" id="hiringDate">
                    </div>
                    <div class="mb-2">
                        <label for="email" class="form-label">Email</label>
                        <input type="email" class="form-control" id="email" placeholder="user@example.com">
                    </div>
                    <div class="mb-2">
                        <label for="phone" class="form-label">Phone Number</label>
                        <input type="tel" class="form-control" id="phoneNumber">
                    </div>
                    
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary" onclick="Insert()">Submit</button>
            </div>
        </div>
    </div>
</div>
